
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

<div class="slide">
	{{ content.field_image_slide }}
	<div class="container">
		<div class="content">
			<section{{ attributes.addClass(classes) }}>
			
			  {{ title_prefix }}
			  {% if label %}
			    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
			  {% endif %}
			  {{ title_suffix }}
				<div class="logo">
					{{ content.field_logo }}
				</div>
			  <div class="slogan">
			  	{{ content.field_slogan }}
			  </div>
			  <div class="body">
			  	{{ content.body }}
			  </div>
			</section>
		</div>
	</div>
</div>



